form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

code, .code, .api-key {
    font-family: 'Courier New', Courier, monospace;
}

input.prompt {
    width: 40em;
}

.row {
    display: flex;
}

.row + .row {
    margin: 8px 0 0 0;
}

.row * + * {
    margin: 0 0 0 8px;
}

table {
    margin: 12px 0;
}

table th, table td, table caption {
    padding: 2px 4px;
}

table caption {
    text-align: left;
    background-color: #cde;
}    

table th {
    background-color: #bcd;
}

table td {
    background-color: #def;
}

.table-column {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}
