<h1>Angular CRUD bot sample</h1>



<form (submit)="send(prompt.value)">
  <div class="section">
    <div class="row">
      <div class="help">Visit <a href="aistudio.google.com">Google AI Studio</a>, and click "Get API key".</div>
    </div>

    <div class="row">
      <label for="apiKey">API Key</label>
      <input id="apiKey" placeholder="Gemini API key" class="api-key" #apiKey required size="40"
        value="">
    </div>
  </div>

  <div class="section">
    <div class="row">
      <label for="prompt">Your prompt</label>
    </div>

    <div class="row">
      <input id="prompt" class="prompt" #prompt type="text" autofocus
        placeholder="Describe data you would like to store in a database">
      <button type="submit" class="button" [disabled]="waiting" (click)="send(prompt.value)">Send</button>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="label">Sample prompts to try</div>
    </div>

    @for (p of samplePrompts; track $index) {
    <div class="row">
      <input [id]="'prompt' + $index" class="prompt" #sampleprompt type="text" [value]="p">
      <button type="submit" class="button" [disabled]="waiting" (click)="send(sampleprompt.value)">Send</button>
    </div>
    }
  </div>


  <div class="section">
    <div class="row">
      <div class="label">Status</div>
      <div class="status" [class]="waiting ? 'waiting' : 'ready'">@if(waiting){Waiting for response…}@else{Ready.}</div>
    </div>
  </div>

</form>

<div class="section">
  <div class="row">
    <div class="label">Database schema</div>
  </div>

  @if(database.tables.length) {
  <div class="tables">
    @for (table of database.tables; track $index) {
    <table class="table">
      <caption><code class="table-name">{{table.tableName}}</code> table</caption>
      <thead>
        <tr>
          <th class="column-name">Column name</th>
          <th class="column-type">Column type</th>
        </tr>
      </thead>
      <tbody>
        @for (column of table.columns; track $index) {
        <tr>
          <td class="column-name code">{{column.columnName}}</td>
          <td class="column-type code">{{column.columnType}}</td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
  } @else {
  <div class="help">None.</div>
  }
</div>


@if(gemini.lastResponse) {
<div class="section">
  <div class="row">
    <div class="label">Last response</div>
  </div>

  <div class="row">
    <code class="last-response">{{gemini.lastResponse}}</code>
  </div>
</div>
}

<app-div-console />