<h1>Angular database schema bot sample</h1>

<div class="container">

  <!-- ---------------------------------------------------------------------- -->

  <div class="section">
    <div class="row">
      <label for="apiKey">API Key</label>
    </div>

    <div class="row help">
      <div>Visit <a href="aistudio.google.com">Google AI Studio</a>, and click "Get API key".</div>
    </div>

    <div class="row">
      <input id="apiKey" placeholder="Paste in your Gemini API key" class="code" #apiKey required size="40"
        (change)="setApiKey(apiKey.value)" value="">
    </div>
  </div>

  <!-- ---------------------------------------------------------------------- -->

  <div class="section">
    <div class="row">
      <input type="checkbox" [checked]="useSystemInstruction" #useSystemInstructionInput
        (change)="useSystemInstruction = !useSystemInstruction; setSystemInstruction(useSystemInstructionInput.checked, systemInstructionInput.value)">
      <label for="prompt">Use system instruction</label>
    </div>

    <div class="row">
      <textarea (change)="setSystemInstruction(useSystemInstructionInput.checked, systemInstructionInput.value)"
        #systemInstructionInput [hidden]="!useSystemInstruction">{{systemInstruction}}</textarea>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------- -->

  <div class="section">
    <div class="row">
      <label for="prompt">Your prompt</label>
    </div>

    <div class="row help">
      Describe the type of data you would like to store in a database.
    </div>

    <div class="row">
      <input id="prompt" class="prompt" #prompt type="text" autofocus (keyup.enter)="send(prompt.value)" required
        [value]="database.tables.length ? '': 'A customer database for an online retail store that tracks customers, orders and product inventory'"
        [placeholder]="database.tables.length ? 'Try describing a change to an existing table' : 'Try: A table that tracks high scores for an online game'">
      <button type="submit" class="button" [disabled]="waiting || !prompt.value"
        (click)="send(prompt.value)">Send</button>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------- -->

  @if (database.tables.length) {
  <div class="section">
    <div class="row">
      <div class="label">Current database schema</div>
    </div>

    @if(database.tables.length) {
    <div class="tables">
      @for (table of database.tables; track $index) {
      <table class="table">
        <caption><code class="table-name">{{table.tableName}}</code> table</caption>
        <thead>
          <tr>
            <th class="column-name">Column name</th>
            <th class="column-type">Column type</th>
          </tr>
        </thead>
        <tbody>
          @for (column of table.columns; track $index) {
          <tr>
            <td class="column-name code">{{column.columnName}}</td>
            <td class="column-type code">{{column.columnType}}</td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
    } @else {
    <div>None.</div>
    }
  </div>
  }

  <!-- ---------------------------------------------------------------------- -->

  @if(gemini.lastResponse && gemini.lastResponse.type != "none") {
  <div class="section">
    <div class="row">
      <div class="label">Model response</div>
    </div>

    <div class="row">
      <code class="last-response-type" [class]="gemini.lastResponse.type">
      @switch (gemini.lastResponse.type) {
        @case ("waiting") {Waiting for response…}
        @case ("unknown") {Unknown response type}
        @case ("functionCalls") {Function Calls}
        @case ("invalidFunctionCalls") {Function Calls with one or more unknown functions}
        @case ("text") {Text response}
        @case ("error") {Error}
        @default { {{gemini.lastResponse.type}} }
      }
    </code>
    </div>
    <div class="row">
      <code class="last-response">{{gemini.lastResponse.response}}</code>
    </div>
  </div>
  }

  <!-- ---------------------------------------------------------------------- -->

</div>

<br />
<br />
<app-div-console />