<h1>Angular database schema bot sample</h1>

<div class="container">

  <!-- ---------------------------------------------------------------------- -->

  <div class="section">
    <div class="row">
      <div class="help">Visit <a href="aistudio.google.com">Google AI Studio</a>, and click "Get API key".</div>
    </div>

    <div class="row">
      <label for="apiKey">API Key</label>
      <input id="apiKey" placeholder="Gemini API key" class="api-key" #apiKey required size="40"
        value="">
    </div>
  </div>

  <!-- ---------------------------------------------------------------------- -->

  <div class="section">
    <div class="row">
      <input type="checkbox" [checked]="useSystemInstruction" (change)="useSystemInstruction = !useSystemInstruction">
      <label for="prompt">Use system instruction</label>
    </div>

    <div class="row">
      <textarea [hidden]="!useSystemInstruction">{{systemInstruction}}</textarea>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------- -->

  <div class="section">
    <div class="row">
      <label for="prompt">Your prompt</label>
    </div>

    <div class="row">
      <input id="prompt" class="prompt" #prompt type="text" autofocus
        placeholder="Describe data you would like to store in a database">
      <button type="submit" class="button" [disabled]="waiting" (click)="send(prompt.value)">Send</button>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------- -->

  <div class="section">
    <div class="row">
      <div class="label">Sample prompts to try</div>
    </div>

    @for (p of samplePrompts; track $index) {
    <div class="row">
      <input [id]="'prompt' + $index" class="prompt" #sampleprompt type="text" [value]="p">
      <button type="submit" class="button" [disabled]="waiting" (click)="send(sampleprompt.value)">Send</button>
    </div>
    }
  </div>

  <!-- ---------------------------------------------------------------------- -->

  <div class="section">
    <div class="row">
      <div class="label">Database schema</div>
    </div>

    @if(database.tables.length) {
    <div class="tables">
      @for (table of database.tables; track $index) {
      <table class="table">
        <caption><code class="table-name">{{table.tableName}}</code> table</caption>
        <thead>
          <tr>
            <th class="column-name">Column name</th>
            <th class="column-type">Column type</th>
          </tr>
        </thead>
        <tbody>
          @for (column of table.columns; track $index) {
          <tr>
            <td class="column-name code">{{column.columnName}}</td>
            <td class="column-type code">{{column.columnType}}</td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
    } @else {
    <div class="help">None.</div>
    }
  </div>

  <!-- ---------------------------------------------------------------------- -->

  @if(gemini.lastResponse) {
  <div class="section">
    <div class="row">
      <div class="label">Last response</div>
    </div>

    <div class="row">
      <code class="last-response-type" [class]="gemini.lastResponse.type">
      @switch (gemini.lastResponse.type) {
        @case ("none") {None}
        @case ("waiting") {Waiting for response…}
        @case ("unknown") {Unknown response}
        @case ("functionCall") {Function Call response}
        @case ("text") {Text response}
        @case ("error") {Error}
      }
    </code>
    </div>
    <div class="row">
      <code class="last-response">{{gemini.lastResponse.response}}</code>
    </div>
  </div>
  }

  <!-- ---------------------------------------------------------------------- -->

</div>

<br />
<br />
<app-div-console />