<div class="section">
    <app-helpful-label for="modelVersion" label="Model version">
        See available <a target="_blank" href="https://ai.google.dev/gemini-api/docs/models/gemini#model-versions">model
            versions</a>.
    </app-helpful-label>

    <input id="modelVersion" size="40" class="code" #modelVersion required (change)="configure()"
        value="gemini-1.5-pro-latest">
</div>

<!-- ---------------------------------------------------------------------- -->

<div class="section">
    <app-helpful-label for="modelVersion" label="API Key">
        Visit
        <a target="_blank" href="https://aistudio.google.com/">Google AI Studio</a>, and click <b>Get API key</b>.
    </app-helpful-label>

    <input id="apiKey" size="40" placeholder="Paste in your Gemini API key" class="code" #apiKey required
        (change)="configure()" value="">
</div>

<!-- ---------------------------------------------------------------------- -->

<div class="section">
    <div>
        <input type="checkbox" [checked]="useSystemInstruction" #useSystemInstructionInput
            (change)="useSystemInstruction = !useSystemInstruction; setSystemInstruction(useSystemInstructionInput.checked, systemInstructionInput.value)">
        <label for="prompt">Use system instruction</label>
    </div>

    <textarea (change)="setSystemInstruction(useSystemInstructionInput.checked, systemInstructionInput.value)"
        #systemInstructionInput [hidden]="!useSystemInstruction">{{systemInstruction}}</textarea>
</div>