<div class="section">

    <div class="row">
        <label for="modelVersion">Model version</label>
    </div>

    <div class="row">
        <input id="modelVersion" class="code" #modelVersion required size="25" (change)="configure()"
            value="gemini-1.5-pro-latest">
    </div>

    <div class="row help">
        <div>
            See available
            <a target="_blank" href="https://ai.google.dev/gemini-api/docs/models/gemini#model-versions">model versions</a>.
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------- -->

<div class="section">
    <div class="row">
        <label for="apiKey">API Key</label>
    </div>

    <div class="row">
        <input id="apiKey" placeholder="Paste in your Gemini API key" class="code" #apiKey required size="40"
            (change)="configure()" value="">
    </div>

    <div class="row help">
        <div>
            Visit
            <a target="_blank" href="https://aistudio.google.com/">Google AI Studio</a>, and click <b>Get API key</b>.
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------- -->

<div class="section">
    <div class="row">
        <input type="checkbox" [checked]="useSystemInstruction" #useSystemInstructionInput
            (change)="useSystemInstruction = !useSystemInstruction; setSystemInstruction(useSystemInstructionInput.checked, systemInstructionInput.value)">
        <label for="prompt">Use system instruction</label>
    </div>

    <div class="row">
        <textarea (change)="setSystemInstruction(useSystemInstructionInput.checked, systemInstructionInput.value)"
            #systemInstructionInput [hidden]="!useSystemInstruction">{{systemInstruction}}</textarea>
    </div>
</div>