body {
    font-family: sans-serif;
}

input,textarea {
    font-size: 100%;
}

.section {
    margin-bottom: 24px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.section > * {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    margin: 0 0 8x 0;
}

code,
.code {
    font-family: monospace;
}

label,
.label {
    font-weight: bold;
    font-size: 0.9rem;
}

.help,
.help a {
    color: gray;
    font-size: 0.85rem;
}