body {
    font-family: sans-serif;
}

.section {
    margin-top: 24px;
    width: 100%;
    max-width: 45em;
}

code,
.code {
    font-family: monospace;
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.row+.row {
    margin: 8px 0 0 0;
}

.help {
    color: #0ba00b;
}

label,
.label {
    font-weight: bold;
}
